/************CENTRE**********/
.aucentre {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    background-color: transparent;
    color : #6e6e70;
}

.aucentre1 {
    background-color: transparent;
    color : #989899;
}

.aucentre1 h1 {
    background-color: transparent;
    color : #d3d3d4;
    text-align : center;
    text-decoration: underline;
}

.aucentre2 {
    background-color: transparent;
    color : #989899;
}

/***********BAS***********/

.enbas {
    grid-column: 2;
    grid-row: 4;  
}

/*********AGAUCHE**********/
.agauche {
    grid-column: 1;
    grid-row: 2 / 5;
}

/********ADROITE********/
.adroite {
    grid-column: 3;
  grid-row: 3;
}
